/*------------------------------Style:CSS-------------------------------------*/

/*Good color for a future site: rgb(0,153,102)*/
/*#101725*/
/*#263238*/
/*#2638A2*/


/*Next to/above? menu options have icons
Home - house
Portfolio - camera
Campfire Stories - logs on fire
Contact -
Subscribe -*/

* {
  box-sizing:border-box;
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type:none;
}

/*---------Fonts---------*/

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand.otf');
}

@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel.otf');
}

@font-face {
  font-family: 'Trajan';
  src: url('../fonts/Trajan.ttf');
}

@font-face {
  font-family: 'Vast Shadow';
  src: url('../fonts/VastShadow.ttf');
}

/*---------Header & Nav---------*/

.header {
  margin:0;
  background: #263832;
  height:100px;
}

.current {
  /*background: #2638A2;*/
  background: #f90;
}

.notCurrentPage:hover {
  background: #09f;
}

.name img {
  width: 200px;
}

.menu {
  display: none;
}

.mobileMenu {
  display: none;
}

.menuIcons {
  width: 40px;
}

/*.home-header {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  color: white;
  border-left: 3px solid orange;
  border-right: 3px solid orange;
  margin: 0 auto;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.4);
}*/
/*
@media screen and (min-width:652px) and (max-width:905px) {
  .home-header {
    margin-top: 10em;
  }
}*/
/*
.home-header h1 {
  font-size: 3.5rem;
  text-shadow: 5px 5px 10px rgba(0,0,0,1);
  align-content:center;
  line-height:60px;
}

.home-header p {
  font-size: 1.5em;
  text-shadow: 2px 2px 10px rgba(0,0,0,1);
  line-height:50px;
}*/


/*---------Homepage---------*/

.topStory {
  max-width: 800px;
}

.topStory img {
  max-width: 800px;
  -webkit-filter: grayscale(100%);
}

.topStory img:hover {
  -webkit-filter: blur(0px);
}

/*---------Form Popups---------*/

.popupButton {
  margin-top: 40px;
}

a.contactPopUp, a.contactPopUp:hover, .subscribeButtonFloat a, .subscribeButtonFloat a:hover, .subscribeButton a, .subscribeButton a:hover {
  background-color: #0f90f9;
  color: #fff;
  padding: 10px 30px;
  font-family: 'Quicksand', sans-serif;
}

.popupForm, .subForm {
  display: none;
}

a.popupExit, a.popupExit:hover, a.popupSubExit, a.popupSubExit:hover {
  padding: 10px 0;
  background: orange;
  color: white;
  float: right;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  font-family: 'Quicksand', serif;
}

.displayPopup, .displaySubForm {
  position: fixed;
  top: 20%;
  left: 20%;
  z-index: 400;
  width: 60%;
  text-align: left;
  background: rgba(0,153,255,1);
  border: 2px solid rgba(255,153,0,0.9);
  color: white;
}

.displayPopup button, .displaySubForm button {
  background-color: white !important;
  color: #09f !important;
}

.displayPopup label, .displayPopup p, .displaySubForm label, .displaySubForm p {
  color: white !important;
}

.displayPopup h4, .displaySubForm h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
}

img {
  width:100%;
}

.name {
  text-align:right;
  margin:0;
  float:right;
  padding-right: 10px;
}

.name p {
  font-size: 1rem;
}

/*.overlay {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
}*/


/*---------Pagination---------*/

.pagination {
  font-family: "Quicksand", sans-serif;
  margin: 20px 0 50px;
}

.pagination a:hover, .pagination a:visited, .pagination a:link {
  background-color: #263238;
  color: white;
  padding: 1rem;
}

.pagination span {
  background-color: #09f;
  color: white;
  padding: 1rem;
}

/*---------Third Party (Disqus, Cognito)---------*/

div .disqusThread {
  margin: 4rem;
}

.cognito .c-span-2 {
  max-width: 100%;
}

.contMe .c-action {
  float: none !important;
}

.cognito form {
  margin: 0 auto;
}

#c-submit-button {
  position: relative;
  font-family: 'Quicksand';
  font-size: 1.3rem;
  width: 100%;
}

.contMe .cognito .c-label, .contMe .cognito .c-editor {
  padding-left: 0;
  padding-right: 0;
}

.contMe .cognito .c-button {
  margin: 0;
}

label {
  display: block;
  margin: 8px 0;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}

/*---------Links---------*/

a {
  text-decoration:none;
}

a:hover {
  color: #09f;
}


/*---------Footer---------*/

.social img {
  height:35px;
  width:35px;
}

footer {
  clear:both;
  text-align:center;
/*  border-top:1px solid black;*/
  background-color: #fff;
  width:100%;
  height:100%;
  color:#09f;
  padding-bottom: 20px;
  font-family:'Quicksand', sans-serif;
  font-size:1.2em;
  clear:both;
}

footer p {
  padding-top: 30px;
}

.subscribeButtonFooter {
  padding-bottom: 50px;
  text-align: center;
  font-size: 1rem;
}

/*---------Body---------*/

body {
  margin:0;
}

/*---------Portfolio Page---------*/

.portfolioServices ul {
  margin-top:0;
  padding:3% 0 0;
  text-align:center;
  position: relative;
}

.portfolioImages figcaption {
  color:#09f;
  margin-bottom: 15%;
  font-family:'Quicksand', sans-serif;
  font-size:1.3em;
  line-height: 2em;
  max-width:480px;
  text-align:center;
}

.portfolioImages img {
  border-radius:10px;
  border:3px solid orange;
  height:216px;
  width:384px;
}


 .portfolio h4 {
  font-family:'Quicksand', sans-serif;
  font-size:3rem;
  text-align:center;
  border-bottom: 3px solid orange;
}

.portfolioServices {
  padding-top:10px;
  margin-bottom:100px;
}

.portfolioServices p {
  font-family:'Quicksand', sans-serif;
  font-size:1.1rem;
  color: #263238;
  text-align:justify;
  margin:20px 0;
  line-height:1.5rem;
}

.contactMe h4 {
  font-family:'Quicksand', sans-serif;
  font-size:3rem;
  border-bottom: 3px solid orange;
  margin: 50px auto;
  text-align:center;
}

.contactName section {
  color: #263238;
  font-family:"Quicksand";
  text-align:center;
}

.contactName section h2 {
  text-transform:uppercase;
  font-size:2.5rem;
  line-height:2;
}

.contactName section p {
  text-transform:capitalize;
  font-size:1.6rem;
  color: #263238;
}

.contMe {
  margin-bottom:100px;
}

.contactButton {
  margin-top:20px;
  width:200px;
  float:right;
  background-color:orange;
  color:white;
  border:1px #09f solid;
  border-radius:15px;
}

/*---------Campfire Stories Page---------*/

.campfireBlog figcaption {
  color:#09f;
  margin-bottom: 15%;
  font-family:'Quicksand', sans-serif;
  font-size:1.3em;
  line-height: 2em;
  max-width:350px;
  text-align:center;
}

.campfireBlog img {
  border-top:5px solid #D63E3E;
  border-radius:30px;
  height: 216px;
  width: 384px;
  max-width: 90%;
}

/*---------Contact (About) Page---------*/

.wrapper {
  max-width:1300px;
  margin: 0 auto 50px;
  padding: 5%;
}

.about img {
  margin:0 auto 30px;
  display:block;
}

.about h4 {
  font-family:'Quicksand', sans-serif;
  font-size:3rem;
  text-align:center;
  margin-top: 5.5rem;
  border-bottom:3px solid orange;
}

.about div {
  padding-top:50px;
}

.about p, .contactDetails p {
  font-family:'Quicksand', sans-serif;
  font-size:1.1rem;
  color:#263238;
  text-align:justify;
  margin:20px 0;
  line-height:1.5rem;
}

.about a:link, .about a:visited {
  color:#09f;
}

.contactDetails {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
}

.contactDetails li {
  padding: 0 5% 0 5%;
  margin: 0 auto 30px;
}

ul.details {
  padding-left: 0;
}

.details img {
  height:100px;
  width:100px;
}

.details li {
  display:inline-block;
}

/*---------Campfire Page---------*/

.subscribeButtonFloat {
  float: right;
}

.blogTopH3 {
  /*border-top-left-radius: 30px;
  border-top-right-radius: 30px;*/
  border-top: 13px solid #09f;
  color: #263238;
  text-align:center;
  font-size:2.25rem;
  text-transform:uppercase;
  width:100%;
  padding: 20px 5px;
  font-family: 'Vast Shadow', 'Cinzel', cursive;
  position: relative;
  z-index: -1;
}

.blogHead {
  max-width:976px;
  margin: 0 auto 100px;
}

.blogBody {
  font-family:'Quicksand', sans-serif;
  font-size:1.3rem;
  line-height:1.5rem;
}

.aside1 img {
  height: 198px;
  width: 352px;
  float: right;
  margin: 2% 1%;
  border-radius: 30px;
}

.aside2 img {
  height: 198px;
  width: 352px;
  float: left;
  margin: 2% 1%;
  border-radius: 30px;
}

.campfire h3 {
  text-align:center;
  font-size:2.5em;
  text-transform:uppercase;
  width:100%;
  padding: 20px 0;
  margin: 20px 0 0;
  font-family: 'Vast Shadow', 'Cinzel', cursive;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 13px solid #09f;
  color: #263238;
}

.campfire ul {
  margin-top:0;
  padding:3% 0 0;
  border-top:13px solid #D63E3E;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align:center;
  position: relative;
}

.blogHeader {
  padding: 15px;
  font-size: 1.5rem;
}

.blogHomeHeader {
  padding-top: 50px;
  text-align: center;
  font-size: 1.5rem;
}

.breadcrumb {
  font-family: "Quicksand";
  float: left;
}

.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover {
  color: #09f;
}

.blogHeaderImg {
  border-radius: 30px;
  width: 100%;
  height: auto;
}

.blogContent {
  font-family: "Quicksand", sans-serif;
  color: #263238;
  line-height: 1.4;
  font-size: 1.1rem;
}

.blogContent a:link, .blogContent a:hover, .blogContent a:visited {
  color: #09f;
}

.campfireList {
  color: #263238;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}

.campfireList dt {
  margin: 1% 0;
  font-weight: bold;
  color: #09f;
}

.campfireList dd {
  margin: 1% 4%;
}

.blogCatch {
  font-family: "Quicksand", sans-serif;
  color: #09f;
  float: left;
}

.blogSignature{
  font-family: "Quicksand", sans-serif;
  color: #09f;
  float: right;
}

.campfire {
  margin: 0 auto;
  padding: 5%;
}

/*---------Responsiveness---------*/

@media screen and (min-width: 410px) {
  .wrapper {
    max-width:1300px;
    margin:auto;
    padding:5%;
  }

  .campfireBlog li {
    max-width:410px;
    display:inline-block;
    margin: 0 5%;

  }

  .mainLeft {
    clear:both;
  }

  .mainRight {
    clear:both;
  }

  .portfolioImages li {
    max-width:410px;
    display:inline-block;
    margin: 2% 5%;
  }
}


@media screen and (max-width:435px){
  .aside2 img, .aside1 img {
    margin: 3% auto;
    float: left;
  }
  .portfolioImages img {
    height:200px;
    max-width:300px;
  }

  .homeHeader p {
    font-size: 1.1rem;
    line-height: 20px;
  }
}


@media screen and (max-width: 630px) {
  .details img {
    height: 50px;
    width: 50px;
  }

  .contactDetails {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:770px) {
  .contMe {
    padding-left: 40%;
    padding-right: 40%;
  }

  .subscribeButtonFloat {
    float: none;
    margin-top: 100px;
    text-align: center;
  }

  .blogSignature {
    margin: 30px 0;
  }

  .homeHeader h1 {
    font-size: 3rem;
  }

  .homeHeader {
    border-bottom: 0;
    width: 100%;
  }

  form p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}


@media screen and (max-width: 905px) {
.contactHeader {
  height:170px;
  }
}

@media screen and (min-width:905px) {
  .about p {
    font-family:'Quicksand', sans-serif;
    font-size:1.35rem;
    color: #263238;
}
  .about img {
    float: left;
  }

  .details li {
    font-size:1.35rem;
  }

  .portfolio h4, .subPage h4 {
    margin-top:initial;
  }
}


@media screen and (min-width: 1005px) {

  /*.menuButton {
    display:none;
  }*/

  .menu {
    display:inline-block;
  }

  .mobileMenu ul {
    display:none;
  }

  .name {
    float:left;
  }

  .menu a:link {
    color: white;
    text-align:center;
    text-transform:uppercase;
    font-family: 'Quicksand', 'Cinzel', serif;
  }

  .menu a:visited {
    color:white;
  }

  .menu {
    float:right;
  }

  .menu li {
    display:inline-block;
    font-size: 1.05rem;
    position:relative;
    margin: 0 -2px;
    padding: 18px 20px 19px;
  }

  .homeHeader h1 {
    clear: both;
    text-align: center;
    font-size: 5rem;
    text-shadow: 5px 5px 10px rgba(0,0,0,1);
    line-height: 75px;
    padding-top: 30px;
  }

  .homeHeader p {
    font-size: 2em;
    text-shadow: 2px 2px 10px rgba(0,0,0,1);
    line-height:70px;
  }

  .menu ul li ul a:hover {
    color:#09f;
  }
}


@media screen and (max-width: 1005px) {

  .menuBtn div {
  	position: relative;
  	left: 100%;
  	top: 64%;
  	padding-right: 8px;
  	margin-top: -0.50em;
  	line-height: 1.2;
  	font-size: 18px;
  	font-weight: 200;
  	vertical-align: middle;
  	z-index: 99;
  }

  .menuBtn span {
  	display: block;
  	width: 27px;
  	height: 2px;
  	margin: 6px 13px;
  	background: rgb(255,255,255);
  	z-index: 99;
  }

  .mobileMenu ul {
    list-style: none;
    padding-left: 0;
  }

  .mobileMenu {
  	position: fixed;
  	top: 0;
  	left: -250px;
  	width: 250px;
  	height: 100%;
  	background: #fff;
  	z-index: 100;
    display: block;
  }

  .open {
    background: #09f;
  }

  .mobileMenu .mobileMenuToggle {
  	position: absolute;
  	top: 14px;
  	display: inline-block;
  	padding: 5px 10px;
    margin-top: -50px;
    background: orange !important;
  	line-height: 1;
  	text-decoration: none;
  	vertical-align: top;
  }

  a.mobileMenuToggle:link, a.mobileMenuToggle:visited, a.mobileMenuToggle:hover {
    color: #fff !important;
  }

  .mobileMenu img {
    width: 250px;
    background: #fff;
  }

  .mobileMenu h3 {
    position: relative;
    padding: 0 0 14px;
    color: #fff;
    background-color: #09f;
    font-size: 1.8em;
    border-bottom: 1px solid #fff;
  }

  .mobileMenu li {
      padding:12px;
      text-align:left;
      border-bottom:1px solid #fff;
      position:relative;
      z-index:99;
    }

  .mobileMenu a:link, .mobileMenu a:visited {
      color: #fff;
      background: #09f;
      position: relative;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Cinzel', serif;
    }

  .mobileMenu a:hover {
      color: #09f;
      background: #fff;
      position: relative;
      display: block;
    }
}
