/*------------------------------Style:CSS-------------------------------------*/

/*Good color for a future site: rgb(0,153,102)*/
/*#101725*/
/*#263238*/
/*#2638A2*/


/*Next to/above? menu options have icons
Home - house
Portfolio - camera
Campfire Stories - logs on fire
Contact -
Subscribe -*/

* {
  box-sizing:border-box;
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type:none;
}

/*---------Fonts---------*/

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand.otf');
}

@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel.otf');
}

@font-face {
  font-family: 'TrajanPro3-Regular';
  src: url('../fonts/TrajanPro3-Regular.ttf');
}

@font-face {
  font-family: 'Vast Shadow';
  src: url('../fonts/VastShadow.ttf');
}

/*---------Header & Nav---------*/

.header {
  margin:0;
  background: #263238;
  height:80px;
}

.menuHover:hover {
  background: #2638A2;
}

.name img {
  width: 127px;
}

.menu {
  display: none;
}

.mobileMenu {
  display: none;
}

.menuIcons {
  width: 40px;
}

.homeHeader {
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  color: #263238;
  width: 90%;
  margin: 2rem auto 0;
}

/*---------Homepage---------*/

#homepage {
  text-align: center;
}

.homepage {
  overflow: auto;
  position: relative;
}

.homepage:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: url('../img/mountainBackground.jpg') no-repeat center;
  background-size:cover;
  width: 100%;
  height: 100%;
  /*-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);*/
}

.homeHeader h1 {
  font-family: 'Cinzel', 'Vast Shadow', 'TrajanPro3-Regular', 'Quicksand', serif;
  font-size: 4rem;
}

.homeHeader p {
  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  font-family: 'Quicksand', 'Cinzel', serif;
}

.homeFooter {
  clear:both;
  text-align:center;
  width:100%;
  height:100px;
  color:#fff;
  font-family:'Quicksand', sans-serif;
  position:fixed;
  bottom: 20px;
  background-color: transparent;
  margin-bottom:5px;
}


/*---------Form Popups---------*/

.popupButton {
  margin-top: 40px;
}

.popupButton a, .popupButton a:hover, .subscribeButtonFloat a, .subscribeButtonFloat a:hover, .subscribeButton a, .subscribeButton a:hover {
  color: #fff;
  padding: 10px 30px;
  font-family: 'Quicksand', sans-serif;
}

.popupButton a, .popupButton a:hover {
  background-color: #2638A2;
}

.subscribeButtonFloat a, .subscribeButtonFloat a:hover, .subscribeButton a, .subscribeButton a:hover {
  background-color: #f9b701;
}

.popupForm, .subForm {
  display: none;
}

a.popupExit, a.popupExit:hover, a.popupSubExit, a.popupSubExit:hover {
  padding: 10px 0;
  background: #f9b701;
  color: white;
  float: right;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  font-family: 'Quicksand', serif;
}

.displayPopup, .displaySubForm {
  position: fixed;
  top: 20%;
  left: 25%;
  z-index: 400;
  width: 50%;
  text-align: left;
  background: #2638A2;
  border: 2px solid #f9b701;
  color: white;
}

.displayPopup button, .displaySubForm button {
  background-color: white !important;
  color: #2638A2 !important;
}

.displayPopup label, .displayPopup p, .displaySubForm label, .displaySubForm p {
  color: white !important;
}

.displayPopup h4, .displaySubForm h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
}

.name {
  text-align:right;
  margin:0;
  float:right;
  padding: 6px 10px 0px 0px;
}

.name p {
  font-size: 1rem;
}

/*.overlay {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
}*/


/*---------Pagination---------*/

.pagination {
  font-family: "Quicksand", sans-serif;
  margin: 20px 0 50px;
}

.pagination a:hover, .pagination a:visited, .pagination a:link {
  background-color: #263238;
  color: white;
  padding: 1rem;
}

.pagination span {
  background-color: #2638A2;
  color: white;
  padding: 1rem;
}

/*---------Third Party (Disqus, Cognito)---------*/

div .disqusThread {
  margin: 4rem;
}

.cognito .c-span-2 {
  max-width: 100%;
}

.contMe .c-action {
  float: none !important;
}

.cognito form {
  margin: 0 auto;
}

#c-submit-button {
  position: relative;
  font-family: 'Quicksand';
  font-size: 1.3rem;
  width: 100%;
}

.contMe .cognito .c-label, .contMe .cognito .c-editor {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.contMe .cognito .c-button {
  margin: 0;
}

label {
  display: block;
  margin: 8px 0;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}

/*---------Links---------*/

a {
  text-decoration:none;
}

a:hover {
  color: #f9b701;
}


/*---------Footer---------*/

.social img {
  height:35px;
  width:35px;
}

footer {
  clear:both;
  text-align:center;
/*  border-top:1px solid black;*/
  background-color: #fff;
  width:100%;
  height:100%;
  color:#2638A2;
  padding-bottom: 20px;
  font-family:'Quicksand', sans-serif;
  font-size:1.2em;
  clear:both;
}

footer p {
  padding-top: 30px;
}

.subscribeButtonFooter {
  padding-bottom: 50px;
  text-align: center;
  font-size: 1rem;
}

/*---------Body---------*/

body {
  margin:0;
}

/*---------Portfolio Page---------*/

.wrapper {
  max-width:1300px;
  margin: 0 auto 50px;
  padding: 10px;
}

.portfolioServices ul {
  margin-top:0;
  padding:3% 0 0;
  text-align:center;
  position: relative;
}

.portfolioImages figcaption {
  color:#2638A2;
  margin-bottom: 5%;
  font-family:'Quicksand', sans-serif;
  font-size:1.3em;
  line-height: 2em;
  text-align:center;
}

.portfolioImages img {
  /*border-radius:10px;*/
  border:3px solid #f9b701;
  height:216px;
  width:384px;
  margin: 20px;
}

.portfolioImages li {
  display: inline-block;
  margin: 1% auto;
}

.portfolio h4 {
  font-family:'Quicksand', sans-serif;
  font-size:3rem;
  text-align:center;
  border-bottom: 3px solid #f9b701;
  margin-top: 5.5rem;
}

.portfolioServices {
  padding-top:10px;
  margin-bottom:100px;
}

.portfolioServices p, .contMe p {
  font-family:'Quicksand', sans-serif;
  font-size:1.3rem;
  color: #263238;
  line-height:1.5;
  text-align: justify;
}

.portfolioInfo p, .portfolioInfo {
  text-align: center;
  font-family:'Quicksand', sans-serif;
  font-size:1.3rem;
  color: #263238;
  line-height:1.5;
}

.portfolioServices p {
  margin:20px 0;
}

.portfolioContact a, .portfolioJob a, .portfolioJob a:link, .portfolioJob a:visited, .portfolioJob a:hover, .portfolioContact a:link, .portfolioContact a:visited, .portfolioContact a:hover {
  color: #fff;
  padding: 10px 20px;
}

.portfolioJob a {
  background-color: #2638a2;
}

.portfolioContact a {
  background-color: #f9b701;
}

.contMe p {
  margin: 20px 0 40px;
  /*text-align: center;*/
}

.contactMe {
  clear: both;
}

.contactMe h4 {
  font-family:'Quicksand', sans-serif;
  font-size:3rem;
  border-bottom: 3px solid #f9b701;
  margin: 50px auto 25px;
  text-align:center;
}

.contactName section {
  color: #263238;
  font-family:"Quicksand";
  text-align:center;
}

.contactName section h2 {
  text-transform:uppercase;
  font-size:2.5rem;
  line-height:2;
}

.contactName section p {
  text-transform:capitalize;
  font-size:1.6rem;
  color: #263238;
}

.contMe {
  margin-bottom:100px;
}

.contactButton {
  margin-top:20px;
  width:200px;
  float:right;
  background-color:#f9b701;
  color:white;
  border:1px #2638A2 solid;
  border-radius:15px;
}

/*---------Campfire Stories Page---------*/

.topStory img {
  max-width: 800px;
}

.topStory a:link, .topStory a:visited, .topStory a:hover {
  color: #f9b701;
}

.campfireBlog figcaption {
  color:#2638A2;
  margin-bottom: 15%;
  font-family:'Quicksand', sans-serif;
  font-size:1.3em;
  line-height: 2;
  max-width:350px;
  text-align:center;
}

.campfireBlog img {
  border: 3px solid #f9b701;
  /*border-radius: 10px;*/
  height: 216px;
  width: 384px;
}

/*---------About Page---------*/

.aboutWrapper {
  max-width:1080px;
  margin: 0 auto 50px;
  padding: 10px;
}

.about h4 {
  font-family:'Quicksand', sans-serif;
  font-size:3rem;
  text-align:center;
  margin-top: 5.5rem;
  border-bottom:3px solid #f9b701;
}

/*.about div {
  padding-top:50px;
}*/

.about p, .contactDetails p, .campfireStoriesHeader p {
  font-family:'Quicksand', sans-serif;
  font-size:1.1rem;
  color:#263238;
  text-align:justify;
  margin:20px 0;
  line-height:1.5;
}

.about a:link, .about a:visited, .campfireStoriesHeader a:link, .campfireStoriesHeader a:visited {
  color: #f9b701;
}

.highlight {
  color:#f9b701;
}

.contactDetails {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
}

.contactDetails li {
  padding: 0 5% 0 5%;
  margin: 0 auto 30px;
}

ul.details {
  padding-left: 0;
}

.details img {
  height:100px;
  width:130px;
}

.details li {
  display:inline-block;
}

.colorSplash {
  color: #f9b701;
}

/*---------Campfire Page---------*/

.subscribeButtonFloat {
  float: right;
}

.blogTopH3 {
  color: #263238;
  text-align:center;
  font-size:3rem;
  text-transform:uppercase;
  width:100%;
  font-family: 'Vast Shadow', 'Cinzel', cursive;
  padding: 20px 0;
}

.blogHead {
  /*max-width:976px;*/
  margin: 0 auto 50px;
}

.blogBody {
  font-family:'Quicksand', sans-serif;
  font-size:1.3rem;
  line-height:1.5;
}

.aside1 img {
  height: 198px;
  width: 352px;
  float: right;
  margin: 23px 0% 2% 3%;
  border-radius: 5px;
}

.aside2 img {
  height: 198px;
  width: 352px;
  float: left;
  margin: 23px 3% 2% 0%;
  border-radius: 5px;
}

.blogHomeHeader h3 {
  text-align: center;
  font-size: 4rem;
  border-bottom: 3px solid #f9b701;
  text-transform: uppercase;
  width: 100%;
  padding: 20px 0;
  font-family: 'Vast Shadow', 'Cinzel', cursive;
  color: #263238;
}

.campfire ul {
  text-align:center;
  position: relative;
}

.blogHeader {
  padding: 15px;
  font-size: 1.5rem;
}

.blogHomeHeader {
  padding-top: 50px;
  text-align: center;
  font-size: 1.5rem;
}

.breadcrumb {
  font-family: "Quicksand";
  float: left;
}

.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover {
  color: #f9b701;
}

.blogHeaderImg {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.blogContent {
  font-family: "Quicksand", sans-serif;
  color: #263238;
  line-height: 1.4;
  font-size: 1.1rem;
}

.blogContent a:link, .blogContent a:hover, .blogContent a:visited {
  color: #f9b701;
}

.campfireList {
  color: #263238;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}

.campfireList dt {
  margin: 1% 0;
  font-weight: bold;
  color: #2638A2;
}

.campfireList dd {
  margin: 1% 4%;
}

.blogCatch {
  font-family: "Quicksand", sans-serif;
  color: #2638A2;
  float: left;
}

.blogSignature{
  font-family: "Quicksand", sans-serif;
  color: #2638A2;
  float: right;
}

.campfire {
  margin: 50px auto;
}

/*---------Responsiveness---------*/

@media screen and (min-width: 410px) {

  .campfireBlog li {
    display:inline-block;
    margin: 0 1%;
  }
}


@media screen and (max-width:435px){

  aside {
    text-align: center;
  }

  .aside2 img, .aside1 img {
    margin: 3% auto;
    clear: both;
    float: none;
  }

  p.blogContent {
    text-align: justify;
  }

  .clearContent {
    clear: both;
  }

  .portfolioImages img {
    height:171px;
    max-width:304px;
  }
}


@media screen and (max-width: 630px) {
  .details img {
    height: 50px;
    width: 50px;
  }

  .contactDetails {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:770px) {

  .subscribeButtonFloat {
    float: none;
    margin-top: 100px;
    text-align: center;
  }

  .blogSignature {
    margin: 30px 0;
  }

  .homeHeader {
    border-bottom: 0;
    width: 100%;
  }

  form p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}


@media screen and (max-width: 905px) {
.contactHeader {
  height:170px;
  }

  .about img {
    /*float: left;*/
    width: 100%;
  }

  .blogHomeHeader h3 {
    font-size: 3rem;
  }
}

@media screen and (min-width:905px) {
  .about p, .campfireStoriesHeader p {
    font-family:'Quicksand', sans-serif;
    font-size:1.35rem;
    color: #263238;
  }

  .about img {
    /*float: left;*/
    width: 100%;
  }

  .details li {
    font-size:1.35rem;
  }
}


@media screen and (min-width: 1107px) {

  .menu {
    display:inline-block;
  }

  .mobileMenu ul {
    display:none;
  }

  .name {
    float:left;
    padding: 5px 10px;
  }

  .menu {
    float:right;
  }

  .menu a:link, .menu a:visited {
    color: #fff;
    text-align:center;
    text-transform:uppercase;
    font-family: 'Quicksand', 'Cinzel', serif;
  }

  .menu li {
    display:inline-block;
    font-size: 1.05rem;
    position:relative;
    margin: 0 -2px;
    padding: 13px 20px;
  }

  .subFormPopup .menuHover {
    margin-right: 0;
  }

  .homeHeader h1 {
    clear: both;
    text-align: center;
    font-size: 5rem;
    line-height: 75px;
    font-family: 'Cinzel', 'Vast Shadow', 'TrajanPro3-Regular', 'Quicksand', serif;
  }

  .homeHeader p {
    text-align: center;
    font-family: 'Quicksand', 'Cinzel', serif;
    font-size: 2em;
    line-height: 50px;
  }

  .menu ul li ul a:hover {
    color:#2638A2;
  }
}


@media screen and (max-width: 1107px) {

  #homepage {
    background: #263238;
  }

  .menuBtn {
    padding-top: 20px;
  }

  .menuBtn div {
  	position: relative;
  	left: 100%;
  	top: 64%;
  	padding-right: 8px;
  	margin-top: -0.50em;
  	line-height: 1.2;
  	font-size: 18px;
  	font-weight: 200;
  	vertical-align: middle;
  	z-index: 99;
  }

  .menuBtn span {
  	display: block;
  	width: 27px;
  	height: 2px;
  	margin: 6px 13px;
  	background: rgb(255,255,255);
  	z-index: 99;
  }

  .mobileMenu ul {
    list-style: none;
  }

  .mobileMenu {
  	position: fixed;
  	top: 0;
  	left: -250px;
  	width: 250px;
  	height: 100%;
  	background: #fff;
  	z-index: 100;
    display: block;
  }

  .mobileMenu img {
    width: 30px;
    margin: 0 10px -6px 0;
  }

  .open {
    background: #2638A2;
  }

  .mobileMenu .mobileMenuToggle {
  	position: absolute;
  	top: 14px;
  	display: inline-block;
  	padding: 5px 10px;
    margin-top: -50px;
    background: #f9b701 !important;
  	line-height: 1;
  	text-decoration: none;
  	vertical-align: top;
  }

  a.mobileMenuToggle:link, a.mobileMenuToggle:visited, a.mobileMenuToggle:hover {
    color: #fff !important;
  }

  .mobileMenu h3 {
    position: relative;
    padding: 0 0 14px;
    color: #fff;
    background-color: #2638A2;
    font-size: 1.8em;
    border-bottom: 1px solid #fff;
  }

  .mobileMenu li {
      padding: 15px 0 25px 10px;
      text-align:left;
      border-bottom:1px solid #fff;
      position:relative;
      z-index:99;
    }

  .mobileMenu a:link, .mobileMenu a:visited {
      color: #fff;
      background: #263238;
      position: relative;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Cinzel', serif;
    }

  .mobileMenu a:hover {
      color: #2638A2;
      background: #fff;
      position: relative;
      display: block;
    }
}

@media screen and (min-width:1215px) {
  .contMe p {
    text-align: center;
  }

  .portfolioImages li {
    margin: 1%;
  }
}

@media screen and (min-width:1300px) {
  /*.portfolioLeft {
    float: left;
  }

  .portfolioRight {
    float: right;
  }
  */
  .portfolioImages img {
    /*border-radius:10px;*/
    border:3px solid #f9b701;
    height: 216px;
    width: 384px;
    /*height: 333px;
    width: 592px;*/
}
