/*------------------------------Style:CSS-------------------------------------*/

/*Good color for a future site: rgb(0,153,102)*/

* {
  box-sizing:border-box;
  margin: 0;
}

/*---------Header---------*/
#homepage {
  margin:0;
  text-align:center;
  width:100%;
  background: #09f url('../img/background-mountains.jpeg') no-repeat center;
  background-size:cover;
  height:100%;
}


header {
  margin:0;
  padding-top: 20px;
  text-align:center;
  text-transform:uppercase;
  font-family: 'Cinzel', serif;
  color:white;
}

.home-header {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  color: white;
  position: relative;
  z-index: -1;
  border-left: 3px solid orange;
  border-right: 3px solid orange;
  width: 90%;
  margin: 10rem auto 0;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.4);
}

@media screen and (min-width:652px) and (max-width:905px) {

  .home-header{
    margin-top: 10em;
  }
}

.home-header h1 {
  font-size: 3.5rem;
  text-shadow: 5px 5px 10px rgba(0,0,0,1);
  align-content:center;
  line-height:60px;
}

.home-header p {
  font-size: 1.5em;
  text-shadow: 2px 2px 10px rgba(0,0,0,1);
  line-height:50px;
}

.popupButton {
  margin-top: 40px;
}

a.contactPopUp, a.contactPopUp:hover {
  background-color: #0f90f9;
  color: #fff;
  padding: 10px 30px;
  box-shadow: 0px 3px 10px black;
  font-family: 'Cinzel', sans-serif;
}

.popupForm {
  display: none;
}

/*.overlay {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
}*/

a.popupExit, a.popupExit:hover {
  padding: 10px 0;
  background: orange;
  color: white;
  float: right;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  font-family: 'Quicksand', serif;
}


.displayPopup {
  position: fixed;
  top: 20%;
  left: 20%;
  z-index: 400;
  width: 60%;
  text-align: left;
  background: rgba(0,153,255,1);
  border: 2px solid rgba(255,153,0,0.9);
  box-shadow: 0px 0px 100px 35px black;
  color: white;
}

.displayPopup button {
  background-color: white !important;
  color: #09f !important;
}

.displayPopup label, .displayPopup p {
  color: white !important;
}

.displayPopup h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
}

img {
  width:100%;
}


#name {
  text-align:right;
  margin:0;
  color:white;
  text-shadow: 3px 3px 10px rgba(0,0,0,.8);
  font-size:1.5rem;
  line-height:30px;
  float:right;
  padding-right: 10px;
}

#name p {
  font-size: 1rem;
}

/*---------Nav---------*/


#menu {
  display:none;
}

.expand ul {
  padding-left: 0;
}


/*---------Body---------*/

body {
  margin:0;
}

.campfire h3 {
  text-align:center;
  font-size:2.5em;
  text-transform:uppercase;
  width:100%;
  padding: 20px 0;
  margin: 20px 0 0;
  font-family: 'Vast Shadow', cursive;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 13px solid #09f;
  color: #2e2e2e;
  position: relative;
  z-index: -1;
}

.campfire ul {
  margin-top:0;
  padding:3% 0 0;
  border-top:13px solid #D63E3E;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align:center;
  position: relative;
}

#ps ul {
  margin-top:0;
  padding:3% 0 0;
  text-align:center;
  position: relative;
}

#read_more_camp {
  margin-left:10em;
  margin-bottom:4rem;
}

#read_more_camp a {
  border:1px solid orange;
  color:#09f;
  float:right;
  font-size:2rem;
}

.cts figcaption {
  color:#09f;
  margin-bottom: 15%;
  font-family:'Quicksand', sans-serif;
  font-size:1.3em;
  line-height: 2em;
  max-width:350px;
  text-align:center;
}

.cts img {
  border-top:5px solid #D63E3E;
  border-radius:30px;
  height: 216px;
  width: 384px;
  max-width: 90%;
}

.camping-tips{
  margin: 0 auto;
  padding: 5%;
}

.camping-tips h3 {
  text-align:center;
  font-size:2.5em;
  text-transform:uppercase;
  width:100%;
  padding: 20px 0;
  margin: 20px 0 0;
  font-family: 'Vast Shadow', cursive;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 13px solid #09f;
  color: #2e2e2e;
  position: relative;
  z-index: -1;
}

.camping-tips ul {
  margin-top:0;
  padding:3% 0 0;
  border-top:13px solid #D63E3E;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align:center;
  position: relative;
}

.portfolio-images figcaption {
  color:#09f;
  margin-bottom: 15%;
  font-family:'Quicksand', sans-serif;
  font-size:1.3em;
  line-height: 2em;
  max-width:480px;
  text-align:center;
}

.pagination {
  font-family: "Quicksand", sans-serif;
  margin: 20px 0 50px;
}

.pagination a:hover, .pagination a:visited, .pagination a:link {
  background-color: slategrey;
  color: white;
  padding: 1rem;
}

.pagination span {
  background-color: #09f;
  color: white;
  padding: 1rem;
}

.portfolio-images img {
  border-top:5px solid orange;
  border-radius:30px;
  height:216px;
  width:384px;
}

div #disqus_thread {
  margin: 4rem;
}


/*---------Links---------*/

a {
  text-decoration:none;
}

a:hover {
  color: #09f;
}

li {
  list-style-type:none;
}


/*---------Footer---------*/

.social img {
  height:35px;
  width:35px;
}

footer {
  clear:both;
  text-align:center;
/*  border-top:1px solid black;*/
  background-color: #fff;
  width:100%;
  height:100%;
  color:#09f;
  font-family:'Quicksand', sans-serif;
}

#home-footer {
/*  clear:both;*/
  text-align:center;
  width:100%;
/*  height:100px;*/
  color:#fff;
  font-family:'Quicksand', sans-serif;
  position:fixed;
  bottom: 0;
  margin-bottom:5px;
}



/*---------Responsiveness---------*/
@media screen and (min-width: 410px) {

  #wrapper {
    max-width:1300px;
    margin:auto;
    padding:5%;
  }

  .cts li {
    max-width:410px;
    display:inline-block;
    margin: 0 5%;

  }

  .main-left {
    clear:both;
  }

  .main-right {
    clear:both;
  }

  .portfolio-images li {
    max-width:410px;
    display:inline-block;
    margin: 2% 5%;
  }
}


@media screen and (min-width: 1005px) {

  #name {
    float:left;
    text-align:left;
    margin-top:20px 0 40px;
    padding-left:10px;
    color:white;
    text-shadow: 3px 3px 10px rgba(0,0,0,.8);
    font-size: 1.4rem;
    line-height:18px;
    text-transform:uppercase;
    font-family: 'Cinzel', serif;
    color:white;
  }

  #name p {
    font-size: 1rem;
    line-height: 50px;
  }

  #menu a:link {
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,.8);
    text-align:center;
    text-transform:uppercase;
    font-family: 'Cinzel', serif;
  }

  #menu a:visited {
    color:white;
  }

  #menu a:hover {
    color: #09f;
  }

  #menu {
    float:right;
    padding:0;
    padding-right:10px;
    margin-top:20px;
  }

  #menu li {
    display:inline-block;
    margin: 0 0.8em;
    font-size: 1.05rem;
    position:relative;
  }

  .home-header h1 {
    clear: both;
    text-align: center;
    font-size: 5rem;
    text-shadow: 5px 5px 10px rgba(0,0,0,1);
    line-height: 75px;
    padding-top: 30px;
  }

  .home-header p {
    font-size: 2em;
    text-shadow: 2px 2px 10px rgba(0,0,0,1);
    line-height:70px;
  }

  #menu ul li ul a:hover {
    color:#09f;
  }
}

@media screen and (max-width:770px) {
  #cont-me {
    padding-left: 40%;
    padding-right: 40%;
  }

  .home-header h1 {
    font-size: 3rem;
  }

  .home-header {
    border-bottom: 0;
    width: 100%;
  }

  form p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 1005px) {

.menu-btn div {
	position: relative;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 27px;
	height: 2px;
	margin: 6px 13px;
	background: rgb(255,255,255);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.hidden{
  display: none;
}

.expand {
	display: block;
  margin-top:15px;
  margin-left: 10px;
  width:200px;
	background: rgba(0,0,0,0.8);
}

.expand li {
  padding:12px;
  text-align:left;
  border-bottom:1px solid #09f;
  position:relative;
  z-index:99;
  }

.expand a:link {
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,.8);
    text-align:center;
    text-transform:uppercase;
    font-family: 'Cinzel', serif;
  }

.expand a:visited {
    color:white;
  }

.expand a:hover {
    color: #09f;
  }
}



/*---------PAGE:CONTACT---------*/

#wrapper-contact {
  max-width:1300px;
  margin: 0 auto;
  padding: 5%;
}

.contact-header {
  margin:0;
  padding-top: 20px;
  background: #09f url('../img/background-mountains.jpeg') no-repeat;
  background-position: center;
  background-size:cover;
  height:150px;
  width: 100%;
  color:white;
  text-align:center;
  text-transform:uppercase;
  font-family: 'Cinzel', serif;
}

.about img {
  height:215px;
  width:215px;
  border-radius:100%;
  margin:0 auto 30px;
  display:block;
}

.about h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
  margin-top: 5.5rem;
}

.about div {
  border-top:3px solid orange;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top:50px;
  position: relative;
  z-index: 1;
}

.about p {
  font-family:'Quicksand', sans-serif;
  font-size:1.1rem;
  color:#2e2e2e;
  text-align:justify;
  margin:20px 20px;
  line-height:1.5rem;
}

.about a:link, .about a:visited {
  color:#09f;
}

.contact-details h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
  margin-top: 90px;
}

.contact-details div {
  border-top:3px solid orange;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding:20px 10px 0;
}

.contact-details li {
  padding:0 0 0 25px;
  margin:0 0 10px;
  text-align:justify;
}

.details a:link, .details a:visited {
  color:#09f;
}

.details img {
  height:30px;
  width:30px;
}

.details li {
  display:block;
  padding-bottom: 20px;
  text-indent: 3%;
  font-size:1.1rem;
}

.contact-footer {
  font-size:1.2em;
  clear:both;
}

.subscribe h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
  margin-top: 90px;
}

.cognito form {
  margin: 0 auto;
}

.cognito .c-span-2 {
  max-width: 900px;
}

#sub {
  border-top:3px solid orange;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding:10px 11%;
  margin-bottom:100px;
  position: relative;
  z-index: 1;
}

#sub section {
  color: #2e2e2e;
  font-family:"Quicksand";
  text-align:center;
}

#sub section h2 {
  text-transform:uppercase;
  font-size:2.5rem;
  line-height:2;
}

#sub section p {
  text-transform:capitalize;
  font-size:1.6rem;
  color:#2e2e2e;
}


@media screen and (max-width: 905px) {

.contact-header {
  height:170px;
  }
}

@media screen and (min-width:905px) {
  .about p {
    font-family:'Quicksand', sans-serif;
    font-size:1.35rem;
    color: #2e2e2e;
}
  .about img {
    float:left;
    margin: 0 5% 0 20px;
    width:275px;
    height:275px;
  }

  .details li {
    font-size:1.35rem;
  }

  .contact-details{
    width:50%;
    float:left;
    max-width: 400px;
  }

  .subscribe {
    width:40%;
    float:right;
    max-width:400px;
    margin-right:50px;
  }

  #sub-formpage {
    max-width:800px;
  }
}

@media screen and (min-width:1005px) {

  #menu-button {
    display:none;
  }

  #menu {
    display:inline-block;
  }

  .responsive-menu ul {
    display:none;
  }
}

/*---------PAGE:PORTFOLIO---------*/

#wrapper-portfolio {
  max-width:1300px;
  margin: 0 auto;
  padding: 5%;
}

 .portfolio h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
  margin-top: 5.5rem;
}

#ps {
  border-top:3px solid orange;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top:10px;
  margin-bottom:100px;
  position: relative;
  z-index: 1;
}

#ps p {
  font-family:'Quicksand', sans-serif;
  font-size:1.1rem;
  color: #2e2e2e;
  text-align:justify;
  margin:20px 30px;
  line-height:1.5rem;
}

.contact-me h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
  margin-top: 50px;
}

#contact-name section {
  color: #2e2e2e;
  font-family:"Quicksand";
  text-align:center;
}

#contact-name section h2 {
  text-transform:uppercase;
  font-size:2.5rem;
  line-height:2;
}

#contact-name section p {
  text-transform:capitalize;
  font-size:1.6rem;
  color: #2e2e2e;
}

#cont-me {
  border-top:3px solid orange;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding:10px 11%;
  margin-bottom:100px;
}

.contact-button {
  margin-top:20px;
  width:200px;
  float:right;
  background-color:orange;
  color:white;
  border:1px #09f solid;
  border-radius:15px;
}


/*---------PAGE:SUBSCRIBE---------*/

.sub-page h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
  margin-top: 5.5rem;
}

.sub-page p, .subscribe p {
  font-family: "Quicksand",sans-serif;
  text-align: center;
}

#wrapper-subscribe {
  max-width:1300px;
  margin:auto;
  padding: 5%;
}

form p {
  font-size: 2rem;
  line-height: 2;
  font-family: 'Quicksand', serif;
}


/*---------FORM---------*/

input[type="text"],
input[type="email"],
textarea {
  height: auto;
  outline: 0;
  padding: 15px;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  padding:20px auto 0px;
  border-radius:5px;
  border: 1px solid orange;
  font-family:'Quicksand', sans-serif;
  font-size:1.1rem;
  color: #2e2e2e;
  overflow:auto;
}

.sub-form, #contact-us, .ss-form {
  margin: 10px auto;
}

.cognito form {
    margin: 0 auto;
}

#c-submit-button {
  position: relative;
  font-family: 'Quicksand';
  font-size: 1.3rem;
}

.message {
  font-family: "Quicksand", sans-serif;
  color: #09f;
  text-align: center;
}

.sub-form {
  padding-left: 10%;
  padding-right: 10%;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #2e2e2e;
  font-size:1.3em;
  font-family:'Quicksand', sans-serif;
}

.thanks h2, .thanks p{
  color: #2e2e2e;
  text-align: center;
  font-family: "Quicksand",sans-serif;
  text-transform: capitalize;
}

.thanks h2 {
  font-size: 3rem;
}

.thanks p {
  font-size: 1.32rem;
}

.submit-button-form {
  border: 1px solid #09f;
  color: #09f;
  background-color: white;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  float: right;
}

form {
    max-width: 90%;
  }


/*---------PAGE: CAMPFIRE---------*/


#blog-top-h3 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 13px solid #09f;
  color: #2e2e2e;
  text-align:center;
  font-size:2.25rem;
  text-transform:uppercase;
  width:100%;
  padding: 20px 5px;
  font-family: 'Vast Shadow', cursive;
  position: relative;
  z-index: -1;
}

.blog-head {
  max-height:800px;
  max-width:800px;
  margin: 0 auto 100px;
}

.blog-body {
  font-family:'Quicksand', sans-serif;
  font-size:1.3rem;
  line-height:1.5rem;
}

.aside1 img {
  height: 189px;
  width: 336px;
  float: right;
  margin: 0 1%;
  border-radius: 30px;
}


.aside2 img {
  height: 198px;
  width: 352px;
  float: left;
  margin: 0 1%;
  border-radius: 30px;
}

@media screen and (max-width:435px){
  .aside2 img, .aside1 img {
    margin: 0 10%;
  }
  .portfolio-images img {
    height:200px;
    max-width:300px;
  }

  .home-header p {
    font-size: 1.1rem;
    line-height: 20px;
  }
}

.breadcrumb {
  font-family: "Quicksand";
  padding: 15px;
  font-size: 1.5rem;
}

.hide-bread{
  position: relative;
  z-index: -1;
}

.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover {
  color: #09f;
}

.blog-header-img {
  border-radius: 30px;
  max-height: 550px;
}

.blog-content {
  font-family: "Quicksand", sans-serif;
  color: #2e2e2e;
  line-height: 1.4;
  font-size: 1.1rem;
}

.blog-content a:link, .blog-content a:hover, .blog-content a:visited {
  color: #09f;
}

.tc-blog-list {
  color: #2e2e2e;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}

.tc-blog-list dt {
  margin: 1% 0;
  font-weight: bold;
  color: #09f;
}

.tc-blog-list dd {
  margin: 1% 4%;
}

.blog-catch {
  font-family: "Quicksand", sans-serif;
  color: #09f;
  float: left;
}

.blog-signature{
  font-family: "Quicksand", sans-serif;
  color: #09f;
  float: right;
}

.campfire {
  margin: 0 auto;
  padding: 5%;
}

input[type='text'], input:not([type]), textarea {
  font-size: 1.000rem;
}

/*---------PAGE: SERVICES---------*/


#wrapper-services {
  max-width:1300px;
  margin: 0 auto;
  padding: 5%;
}

 .services h4 {
  font-family:'Quicksand', sans-serif;
  font-size:2rem;
  text-align:center;
  margin-top: 5.5rem;
}

#services {
  border-top:3px solid orange;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top:10px;
  margin-bottom:100px;
  position: relative;
  z-index: 1;
}

#services p {
  font-family:'Quicksand', sans-serif;
  font-size:1.1rem;
  color:#2e2e2e;
  text-align:justify;
  margin:20px 30px;
  line-height:1.5rem;
}

#services a:link, #services a:visited, #services a:hover {
  color: orange;
}

@media screen and (min-width:905px) {
  .portfolio h4, .sub-page h4, .about h4, .services h4 {
    margin-top:initial;
  }
}
