RewriteEngine On
RewriteRule ^campfirestories/$ /campfirestories/campfirestories.php
RewriteRule ^campfirestories/([A-za-z0-9-]+)/$ /campfirestories/campfire.php?name=$1
RewriteRule ^twocents/$ /twocents/tcblog.php
RewriteRule ^twocents/([A-za-z0-9-]+)/$ /twocents/tcblog.php?story=$1
RewriteRule ^subscribe.php$ /subscribe/
RewriteRule ^contact.php$ /contact/
RewriteRule ^portfolio.php$ /portfolio/
RewriteRule ^(campfirestories/[A-za-z0-9-]+)$ /$1/
RewriteRule ^(twocents/[A-za-z0-9-]+)$ /$1/

RewriteCond %{QUERY_STRING} ^name=([A-za-z0-9-]+)$
RewriteRule ^campfire.php$ /campfirestories/%1/?
RewriteCond %{QUERY_STRING} ^story=([A-za-z0-9-]+)$
RewriteRule ^tcblog.php$ /twocents/%2/?
