RewriteEngine On
RewriteRule ^campfirestories/$ /campfirestories/campfirestories.php
RewriteRule ^campfirestories/([A-Za-z0-9-]+)/$ /campfirestories/campfire.php?story=$1
RewriteRule ^twocents/$ /twocents/tcblog.php
RewriteRule ^twocents/([A-Za-z0-9-]+)/$ /twocents/tcblog.php?story=$1
RewriteRule ^subscribe.php$ /subscribe/
RewriteRule ^contact.php$ /contact/
RewriteRule ^portfolio.php$ /portfolio/
RewriteRule ^(campfirestories/[A-Za-z0-9-]+)$ /$1/
RewriteRule ^(twocents/[A-Za-z0-9-]+)$ /$1/

RewriteCond %{QUERY_STRING} ^story=([A-Za-z0-9-]+)$
RewriteRule ^campfire.php$ /campfirestories/%1/?
RewriteCond %{QUERY_STRING} ^story=([A-Za-z0-9-]+)$
RewriteRule ^tcblog.php$ /twocents/%2/?
php_flag  display_errors        on
php_value error_reporting       2039


# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^ index.php [QSA,L]
