{% extends 'main.twig' %}

{% block content %}

  <?php require_once (ROOT_PATH."inc/portfolio_arr.php");
  $pageTitle="Portfolio";
  ?>
  <div class="breadcrumb"><a href="portfolio.php">Portfolio</a> &gt; <?php echo $website["name"]; ?></div>
  <div id="wrapper">
    <div>
        <img src="<?php echo $website["img"];?>">

    </div>
  </div>

{% endblock content %}
