{% extends "main.twig" %}

{% block title %}Subscribe{% endblock title %}

{% block content %}

<div id="wrapper-subscribe">
  <div class="sub-page">
    <h4>Subscribe</h4>
    <p>(Quickly, Before Sasquatch Gets You)</p>
    <div id="sub">
        <form class="sub-form" id="sub-formpage">
                <label for="name">Name</label>
                <input type="text" id="sub_form_name" name="entry.1029484234" class="required"/>
                <label for="email">Email</label>
                <input type="email" id="sub_form_email" name="entry.2088672430" class="required"/>
                <button id="ButtonSubmit" class="submit-button-form" onclick="postContactToGoogle()" type="button">Connect</button>
        </form>
    </div>
  </div>
</div>

{% endblock content %}
