{% extends main.twig %}

{% block content %}

<?php $pageTitle = "Subscribe"; ?>

<div id="wrapper-subscribe">
  <div class="sub-page">
    <?php include(ROOT_PATH."inc/subscribe-form.php");?>
  </div>
</div>

{% endblock content %}
